<script type="text/javascript">
$(document).ready(function(){
   $('.parallax').parallax();
 });
</script>

<div class="parallax-container">
  <div class="parallax"><img src="../images/baseball.png"></div>
</div>
<div class="section white para-div">
  <div class="row container">
    <h2 class="header">Think you can beat Vegas? </h2>
    <p class="grey-text text-darken-3 lighten-3">Parallax is an effect where the background content or image in this case, is moved at a different speed than the foreground content while scrolling.</p>
  </div>
</div>
<div class="parallax-container">
  <div class="parallax"><img src="../images/felix.png"></div>
</div>
