<script type="text/javascript">
$(document).ready(function(){
   $('.parallax').parallax();
 });
</script>

<div class="parallax-container">
  <div class="parallax"><img src="../images/baseball.png"></div>
</div>
<div class="section para-div">
  <div class="row container">
    <h2 class="header splash-lead">Think you can beat Vegas? </h2>
    <subLead class="grey-text text-darken-3 lighten-3">
      <b> Can you even beat your friends? <b>
    </subLead>
    <p class="gameDesc">
      Battle the Bookies lets you try your hand at both in an ultimate test of baseball handicapping ability. Place theoretical bets on Major League Baseball games with real-time line updates, track your results, and see how your skills measure up. Click below to view the tutorial, or -- if you know a good calculated risk when you see one -- click to register and get on with picking games. It won't be the last risk you'll need to take if you want to win this battle.
    </p>
    <div class="col m12">
      <div class="col m4 offset-m2 center-align">
        <a ui-sref="home.tutorial"><i class="ionicons base ion-ios-baseball-outline"></i></a>
      </div>
      <div class="col m4 center-align">
        <a ui-sref="home.register"><i class="ionicons ion-cash"></i></a>
      </div>
    </div>
    <div class="col m12">
      <div class="col m4 offset-m2 center-align">
        <a class="homeLink" ui-sref="home.tutorial">TUTORIAL</a>
      </div>
      <div class="col m4 center-align">
        <a class="homeLink" ui-sref="home.register">REGISTER</a>
      </div>
    </div>
  </div>

</div>
<div class="parallax-container">
  <div class="parallax"><img src="../images/felix.png"></div>
</div>
