<script type="text/javascript">
$(document).ready(function(){
   $(".button-collapse").sideNav();
 });
</script>

<div class="navbar-fixed">
  <nav class="light-blue darken-4 z-depth-2" id="top">
    <div class="nav-wrapper">
      <a ui-sref="home" class="brand-logo">Battle the Bookies</a>
      <a ui-sref="#" data-activates="mobile-nav" class="button-collapse"><i class="fa fa-bars"></i></a>
      <ul class="left logo-lead">
        A Level Above <span class="weak"> presents <span>
      </ul>
      <ul class="right hide-on-med-and-down">
        <li ng-show="vm.isLoggedIn() !== false"><a ui-sref="home.user({username: vm.currentUser()})">{{ vm.currentUser() }}</a></li>
        <li ng-hide="vm.isLoggedIn() !== false"><a ui-sref='home.login'>Login</a></li>
        <li ng-show="vm.isLoggedIn() !== false"><a ng-click="vm.logOut()">Logout</a></li>
        <li><a ui-sref="home.tutorial">How to Play</a></li>
        <li><a ui-sref="home.makepicks">Make Picks</a></li>
        <li><a ui-sref='home.results'>Results</a></li>
        <li><a ui-sref='home.standings'>Standings</a></li>
        <li><a ui-sref='home.user'>User Analytics</a></li>
      </ul>
      <ul class="side-nav" id="mobile-nav">
        <li ng-show="vm.isLoggedIn() !== false"><a ui-sref="home.user({username: vm.currentUser()})">{{ vm.currentUser() }}</a></li>
        <li ng-hide="vm.isLoggedIn() !== false"><a ui-sref='home.login'>Login</a></li>
        <li ng-show="vm.isLoggedIn() !== false"><a ng-click="vm.logOut()">Logout</a></li>
        <li><a ui-sref="home.tutorial">How to Play</a></li>
        <li><a ui-sref="home.makepicks">Make Picks</a></li>
        <li><a ui-sref='home.results'>Results</a></li>
        <li><a ui-sref='home.standings'>Standings</a></li>
        <li><a ui-sref='home.user'>User Analytics</a></li>
      </ul>
    </div>
  </nav>
</div>
