<div class="row">
  <loginBox class="col m6 offset-m3 z-depth-2">
    <loginTitle> Login </loginTitle>
    <div class="row">
      <form class="col s12">
        <div class="row">
          <div class="input-field col s8 offset-s2">
            <i class="material-icons prefix">assignment_ind</i>
            <input id="username" type="text" class="validate">
            <label for="username">Username</label>
          </div>
        </div>
        <div class="row">
          <div class="input-field col s8 offset-s2">
            <i class="material-icons prefix">vpn_key</i>
            <input id="password" type="password" class="validate">
            <label for="password">Password</label>
          </div>
        </div>
        <div class="row">
          <div class="col m3 offset-m9">
            <button class="btn btn-large waves-effect waves-light login-button" name="button"> LOGIN </button>
          </div>
        </div>
      </form>
    </div>
  </loginBox>
</div>
