<makePicksHead class="row">
  <div class="col m12 center-align">
    Make Your Picks
  </div>
</makePicksHead>

<button class="btn btn-large blue" ng-click="vm.getMLBLines()"> Get MLB Lines</button>

<div class="row">
  <divider class="divider col m6 offset-m3"></divider>
</div>

<picksTable class="row">
  <table class="bordered col m11">
    <thead>
      <tr>
        <th colspan="3">  </th>
        <th class="center-align" colspan="2"> SPREAD </th>
        <th class="center-align" colspan="2"> MONEYLINE </th>
        <th class="center-align" colspan="2"> TOTAL </th>
        <th class="center-align" colspan="2"> YOUR PICK </th>
      </tr>
      <tr class="center-align">
        <th class="center-align"> Game ID </th>
        <th class="center-align"> Date + Time </th>
        <th class="center-align"> Teams </th>
        <th class="center-align"> Points </th>
        <th class="center-align"> Payout </th>
        <th class="center-align"> ML </th>
        <th class="center-align"> Payout </th>
        <th class="center-align"> Total </th>
        <th class="center-align"> Payout </th>
        <th class="center-align" colspan="2"> Pick </th>
      </tr>
    </thead>
    <tbody ng-repeat="game in vm.MLBLines">
      <tr>
        <td rowspan="2"> Game ID</td>
        <td rowspan="2"> {{game.MatchTime | date:'MM/dd/yyyy @ h:mma'}}</td>
        <td> <b>(A)</b> {{game.AwayTeam}} </td>
        <td> <button class="btn btn-spread" name="button"> {{game.Odds[0].PointSpreadAway}} ({{game.Odds[0].PointSpreadAwayLine | mlFormat}})</button> </td>
        <td> {{game.Odds[0].PointSpreadAwayLine | payout}} </td>
        <td> <button class="btn btn-ml" name="button"> {{game.Odds[0].MoneyLineAway | mlFormat}} </button> </td>
        <td> {{game.Odds[0].MoneyLineAway | payout}} </td>
        <td> <button class="btn btn-total" name="button"> O {{game.Odds[0].TotalNumber}} ({{game.Odds[0].OverLine | mlFormat}}) </button> </td>
        <td> {{game.Odds[0].OverLine | payout}} </td>
        <td rowspan="2" colspan="2" class="center-align"> {{game.pick}} </td>
      </tr>
      <tr>
        <td> <b>(H)</b> {{game.HomeTeam}} </td>
        <td> <button class="btn btn-spread" name="button"> {{game.Odds[0].PointSpreadHome}} ({{game.Odds[0].PointSpreadHomeLine | mlFormat}})</button> </td>
        <td> {{game.Odds[0].PointSpreadHomeLine | payout}} </td>
        <td> <button class="btn btn-ml" name="button"> {{game.Odds[0].MoneyLineHome | mlFormat}} </button> </td>
        <td> {{game.Odds[0].MoneyLineHome | payout}} </td>
        <td> <button class="btn btn-total" name="button"> U {{game.Odds[0].TotalNumber}} ({{game.Odds[0].UnderLine | mlFormat}}) </button> </td>
        <td> {{game.Odds[0].UnderLine | payout}} </td>
      </tr>
    </tbody>
  </table>
</picksTable>
