<makePicksHead class="row" ng-init="vm.getMlbLines()">
  <div class="col m12 center-align">
    Make Your Picks
  </div>
</makePicksHead>

<div class="row">
  <!-- <button class="btn blue" ng-click="vm.getMlbLines()"> Get MLB Lines</button> -->

  <button class="btn blue" ng-click="vm.updateOdds()"> Update Odds</button>

  <button class="btn blue" ng-click="vm.updateResults()"> Update Results</button>

  <button class="btn blue" ng-click="vm.updatePicks()"> Update Picks</button>

  <update-lines get-mlb-lines="vm.getMlbLines()" update-odds="vm.updateOdds()"> </update-lines>

  Current User: {{vm.currentUser()}}
</div>

<div class="row">
  <div class="col m2">
      <select class="browser-default" ng-model="vm.gameDayFilter" ng-init="vm.getDates()">
        <option value="" > (all Days) </option>
        <option ng-repeat = "day in vm.daysOfGames" value="{{day}}"> {{day}} </option>
      </select>
  </div>
</div>

<div class="row">
  <input class="col m2" ng-model="search">
</div>

<div class="row">
  <divider class="divider col m6 offset-m3"></divider>
</div>

<picksTable class="row">
  <table class="bordered col m11">
    <thead>
      <tr>
        <th colspan="2"> Current Time: <time-keeper> </time-keeper> </th>
        <th class="center-align" colspan="2"> SPREAD (RUN LINE) </th>
        <th class="center-align" colspan="2"> MONEYLINE </th>
        <th class="center-align" colspan="2"> TOTAL </th>
        <th class="center-align" colspan="2"> </th>
      </tr>
      <tr class="center-align">
        <th class="center-align"> Date + Time </th>
        <th class="center-align"> Teams </th>
        <th class="center-align"> Points </th>
        <th class="center-align"> Payout </th>
        <th class="center-align"> ML </th>
        <th class="center-align"> Payout </th>
        <th class="center-align"> Total </th>
        <th class="center-align"> Payout </th>
        <th class="center-align" colspan="2"> YOUR PICK </th>
      </tr>
    </thead>
    <tbody ng-repeat="game in vm.mlbLines | orderBy: vm.sortOrder | filter: { MatchDay: vm.gameDayFilter } | filter: search">
      <tr ng-init="vm.timeCheck(game); vm.checkSubmission(game, vm.currentUser())">
        <td rowspan="2"> {{game.MatchDay}} <br> {{game.MatchTime | date:'h:mm a'}} </td>
        <td> <b>(A)</b> {{game.AwayTeam}}
          <!-- <away-score get-result="vm.getResult(game)" game="game"> </away-score> -->
        </td>
        <td> <button ng-class="{disabled: game.locked}" class="btn btn-spread" ng-click="game.locked || vm.awaySpread(game)"> {{game.PointSpreadAway | mlFormat}} ({{game.PointSpreadAwayLine | mlFormat}})</button> </td>
        <td> {{game.PointSpreadAwayLine | payoutFilter}} </td>
        <td> <button ng-class="{disabled: game.locked}" class="btn btn-ml" ng-click="game.locked || vm.awayML(game)"> {{game.MoneyLineAway | mlFormat}} </button> </td>
        <td> {{game.MoneyLineAway | payoutFilter}} </td>
        <td> <button ng-class="{disabled: game.locked}" class="btn btn-total" ng-click="game.locked || vm.totalOver(game)"> O {{game.TotalNumber}} ({{game.OverLine | mlFormat}}) </button> </td>
        <td> {{game.OverLine | payoutFilter}} </td>
        <td rowspan="2" class="center-align" ng-class="{submitted: game.locked}"> {{game.pick}} <br> {{game.displayPayout}} </td>
        <td rowspan="2">
          <submitPick ng-show="vm.pick.activeGame === game.EventID">
            <button class="btn-floating green" ng-click="vm.submitPick(vm.pick); game.locked = true"><i class="fa fa-check" aria-hidden="true"></i></button>
            <p class="text-center"> CLICK TO <br> SUBMIT </p>
          </submitPick>
          <pickLocked ng-show="game.locked" class="text-center"> <p>
            PICK <br> LOCKED
          </p>
          </pickLocked>
        </td>
      </tr>
      <tr>
        <td> <b>(H)</b> {{game.HomeTeam}} </td>
        <td> <button ng-class="{disabled: game.locked}" class="btn btn-spread" ng-click="game.locked || vm.homeSpread(game)"> {{game.PointSpreadHome | mlFormat}} ({{game.PointSpreadHomeLine | mlFormat}})</button> </td>
        <td> {{game.PointSpreadHomeLine | payoutFilter}} </td>
        <td> <button ng-class="{disabled: game.locked}" class="btn btn-ml" ng-click="game.locked || vm.homeML(game)"> {{game.MoneyLineHome | mlFormat}} </button> </td>
        <td> {{game.MoneyLineHome | payoutFilter}} </td>
        <td> <button ng-class="{disabled: game.locked}" class="btn btn-total" ng-click="game.locked || vm.totalUnder(game)"> U {{game.TotalNumber}} ({{game.UnderLine | mlFormat}}) </button> </td>
        <td>  {{game.UnderLine | payoutFilter}}  </td>
      </tr>
    </tbody>
  </table>
</picksTable>
