<div class="row image-back">
  <regBack class="col m12">
    <regBox class="col m8 offset-m2 z-depth-2">
      <loginTitle> Register </loginTitle>
      <div class="row">
        <form class="col s12" name="regForm" ng-submit="vm.register(user)">
            <div class="row">
              <div class="input-field col s5 offset-s1">
                <i class="fa fa-user prefix" aria-hidden="true"></i>
                <input name="username" type="text" class="validate" ng-model="user.username" required>
                <label>Username</label>
              </div>
              <div class="input-field col s5">
                <i class="material-icons prefix"></i>
                <input type="email" name="email" class="validate" ng-model="user.email" required ng-focus>
                <label>Email</label>
              </div>
            </div>
            <div class="row">
              <div class="input-field col s5 offset-s1">
                <i class="fa fa-lock prefix" aria-hidden="true"></i>
                <input type="password" class="validate" name="password" ng-model="user.password" required>
                <label>Password</label>
              </div>
              <div class="input-field col s5">
                <i class="material-icons prefix"></i>
                <input type="password" class="validate" ng-class="{invalid: regForm.confirmPassword.$dirty && regForm.confirmPassword.$error.validator && !regForm.confirmPassword.$focused && !regForm.password.$error.required}" name="confirmPassword" ng-model="user.confirmPassword" ui-validate= " '$value==user.password' " ui-validate-watch=" 'user.password' " required ng-focus>
                <label>Confirm Password</label>
              </div>
              <div class="offset-s2 col-s10 center-align form-error" ng-show="regForm.confirmPassword.$dirty && regForm.confirmPassword.$error.validator && !regForm.confirmPassword.$focused && !regForm.password.$error.required">
                Passwords must match
              </div>
            </div>
            <div class="row">
              <div class="input-field col s5 offset-s1">
                <i class="fa fa-child prefix" aria-hidden="true"></i>
                <input type="text" name="nameFirst" class="validate" ng-model="user.nameFirst" required>
                <label>First Name</label>
              </div>
              <div class="input-field col s5">
                <i class="material-icons prefix"></i>
                <input type="text" name="nameLast" class="validate" ng-model="user.nameLast" required>
                <label>Last Name</label>
              </div>
            </div>
            <div class="row">
              <buyInLevel class="col m5 offset-m3">
                <span class="buy-in-label"> Choose Your Buy-in Level:</span>
                <br>
                <input class="with-gap" name="group1" type="radio" id="bronzeTier" value='50' ng-model="user.buyin" required>
                <label for="bronzeTier"> <color class="bronze">Bronze</color> ($50) </label>
                <br>
                <input class="with-gap" name="group1" type="radio" id="silverTier" value='100' ng-model="user.buyin">
                <label for="silverTier"> <color class="silver">Silver</color> ($100) </label>
                <br>
                <input class="with-gap" name="group1" type="radio" id="goldTier" value='200' ng-model="user.buyin">
                <label for="goldTier"> <color class="gold">Gold</color> ($200) </label>
              </buyInLevel>
              <div class="col m3">
                <button type="submit" class="btn btn-large waves-effect waves-light login-button" ng-class="{disabled: regForm.username.$error.required || regForm.email.$error.required || regForm.email.$invalid ||  regForm.password.$error.required || regForm.confirmPassword.$error.required || regForm.nameFirst.$error.required || regForm.nameLast.$error.required || regForm.group1.$error.required || regForm.confirmPassword.$error.validator}"> GAME ON! </button>
              </div>
            </div>
          </form>
        </div>
      </div>
    </regBox>
  </regBack>
</div>
