<div class="row">
  <regBox class="col m8 offset-m2 z-depth-2">
    <loginTitle> Register </loginTitle>
    <div class="row">
      <form class="col s12" ng-submit="vm.register(user)">
          <div class="row">
            <div class="input-field col s5 offset-s1">
              <i class="fa fa-user prefix" aria-hidden="true"></i>
              <input type="text" class="validate" ng-model="user.username">
              <label>Username</label>
            </div>
            <div class="input-field col s5">
              <i class="material-icons prefix"></i>
              <input type="text" class="validate" ng-model="user.email">
              <label>Email</label>
            </div>
          </div>
          <div class="row">
            <div class="input-field col s5 offset-s1">
              <i class="fa fa-lock prefix" aria-hidden="true"></i>
              <input type="password" class="validate" ng-model="user.password">
              <label>Password</label>
            </div>
            <div class="input-field col s5">
              <i class="material-icons prefix"></i>
              <input type="password" class="validate" ng-model="user.confirmPassword">
              <label>Confirm Password</label>
            </div>
          </div>
          <div class="row">
            <div class="input-field col s5 offset-s1">
              <i class="fa fa-child prefix" aria-hidden="true"></i>
              <input type="text" class="validate" ng-model="user.nameFirst">
              <label>First Name</label>
            </div>
            <div class="input-field col s5">
              <i class="material-icons prefix"></i>
              <input type="text" class="validate" ng-model="user.nameLast">
              <label>Last Name</label>
            </div>
          </div>
          <div class="row">
            <buyInLevel class="col offset-s1">
              <span class="buy-in-label"> Choose Your Buy-in Level:</span>
              <span>
                <input class="with-gap" name="group1" type="radio" id="bronzeTier" value='50' ng-model="user.buyin">
                <label for="bronzeTier"> Bronze ($50) </label>
              </span>
              <span>
                <input class="with-gap" name="group1" type="radio" id="silverTier" value='100' ng-model="user.buyin">
                <label for="silverTier"> Silver ($100) </label>
              </span>
              <span>
                <input class="with-gap" name="group1" type="radio" id="goldTier" value='200' ng-model="user.buyin">
                <label for="goldTier"> Gold ($200) </label>
              </span>
            </buyInLevel>
          </div>
          <div class="row">
            <div class="col m3 offset-m9">
              <button type="submit" class="btn btn-large waves-effect waves-light login-button"> GAME ON! </button>
            </div>
          </div>
        </form>
      </div>
    </div>
  </regBox>
</div>
