<standingsHead class="row" ng-init="vm.getDates(); vm.getAllUsers(); vm.getDateNumbs()">
  <standDiv class="col m12 result-head">
    <div class="col m4 left-align">
      <p class="resHead"> Standings </p>
    </div>
    <pagination class="col m8 right-align">
      <div>
        <ul class="pagination">
          <li class="waves-effect" ng-class="{disabled: vm.activePage === 1}" ng-click="vm.activePage !== 1? vm.pageDown() : null"><a><i class="fa fa-chevron-left"></i></a></li>
          <li ng-repeat="i in vm.pageArray" ng-class="{active: i === vm.activePage}" ng-click="vm.pageClick(i)" class="waves-effect"> {{i}}</li>
          <li class="waves-effect" ng-class="{disabled: vm.activePage > (vm.dayArrayLength / 4)}" ng-click="vm.activePage < (vm.dayArrayLength / 4) ? vm.pageUp() : null"><a><i class="fa fa-chevron-right"></i></a></li>
        </ul>
      </div>
    </pagination>
  </standDiv>
</standingsHead>

<standings class="row">
  <table  class="striped boredered">
    <thead>
      <tr>
        <th colspan="2"> </th>
        <th colspan="4" class="center-align ytd-header"> Year to Date </th>
        <th colspan="4" class="center-align day-header" ng-repeat="day in vm.daysOfGames | limitTo: 4: vm.pageView"> {{day}} </th>
      </tr>
      <tr class="bord-bottom">
        <th class="pushdown"> Entrant </th>
        <th class="pushdown bord-right"> Buy-in </th>
        <th class="pushdown"> W </th>
        <th class="pushdown"> L </th>
        <th class="pushdown"> Win% </th>
        <th class="pushdown bord-right"> $ </th>
        <th colspan="4" ng-repeat="day in vm.daysOfGames | limitTo: 4: vm.pageView" class="bord-right">
          <table><tr>
            <th class="wBox"> W </th>
            <th class="wBox"> L </th>
            <th class="dollBox"> $ </th>
          </tr></table>
        </th>
      </tr>
    </thead>
    <tbody>
      <tr class="bord-bottom" ng-repeat="user in vm.users | orderBy: vm.sortOrder" ng-init="vm.sumAllPicks(user)">
        <td class="pushdown user-size"> <a ui-sref="home.user({username: user.username})">{{user.username}}</a></td>
        <td class="pushdown bord-right" ng-class="{buyGold: user.buyin === '200', buySilver: user.buyin === '100', buyBronze: user.buyin === '50'}"> {{user.buyin | currency:$:0}} </td>
        <td class="pushdown"> {{user.ytdW}} </td>
        <td class="pushdown"> {{user.ytdL}} </td>
        <td class="pushdown"> {{user.ytdPct | percentage:2}} </td>
        <td class="pushdown bord-right sum-total" ng-class="{dayWin: user.sumYtd > 0, dayLoss: user.sumYtd < 0}"> {{user.sumYtd | currency:$:2}} </td>
        <td colspan="4" ng-repeat="day in user.dailyStats | limitTo: 4: vm.pageView" class="bord-right">
          <table><tr>
            <td class="wBox" > {{day.totalWins}} </td>
            <td class="wBox" > {{day.totalLosses}} </td>
            <td class="dollBox" ng-class="{dayWin: day.totalDollars > 0, dayLoss: day.totalDollars < 0}"> <b>{{day.totalDollars | currency:$:2}} </b> </td>
          </tr></table>
        </td>
      </tr>
    </tbody>
  </table>
</standings>
