<userHead class="row" ng-init="vm.getUser()">
  <userDiv class="col m12">

      <div class="username"> {{vm.user.username}} </div>
      <div> {{vm.user.nameFirst}} {{vm.user.nameLast}} </div>

  </userDiv>
</userHead>

<div class="row">
  <gameBox class="col m5 z-depth-2">
    <div>
      <gameTitle> MLB 2016 </gameTitle>
    </div>
    <div>
      <profits>
        <b>TOTAL PROFITS:</b> {{vm.user.sumYtd | currency:$:0}}
      </profits>
    </div>
    <div>
      <b>Wins</b>: {{vm.user.ytdW}}
    </div>
    <div>
      <b>Losses</b>: {{vm.user.ytdL}}
    </div>
    <div>
      <b>Win %</b>: {{vm.user.ytdPct | percentage:2}}
    </div>

  </gameBox>
</div>
