<userHead class="row" ng-init="vm.getUser()">
  <userInfo class="col m4">
    <section class="col m12">
      <selectDiv class="col m8">
        <div class="col m12">
          <label> Select a User </label>
          <select class="browser-default" ng-model="vm.userFilter" ng-init="vm.getAllUsers()" ng-change="vm.userChange()">
            <option ng-repeat = "user in vm.users" value="{{user.username}}"> {{user.username}} </option>
          </select>
        </div>
      </selectDiv>
    </section>
    <userDiv class="col m12 left-align">
      <stats>
        <div class="col m12">
          <div class="col m3">
            <i class="ionicons user-baseball ion-ios-baseball-outline"></i>
          </div>
          <div class="col m9">
            <div class="username"> {{vm.user.username}} </div>
            <div class="realname"> {{vm.user.nameFirst}} {{vm.user.nameLast}} </div>
          </div>
        </div>
        <div class="col m12">
          <div class="col m3">
            <i class="fa fa-line-chart user-chart" style="font-size: 70px"></i>
          </div>
          <div class="col m9">
            <div>
              <gameTitle> MLB 2016 </gameTitle>
            </div>
            <div>
              <profits>
                <b>TOTAL PROFITS:</b> <span class="nobr"> {{vm.user.sumYtd | currency:$:0}} </span>
              </profits>
            </div>
            <div>
              <b>Wins</b>: {{vm.user.ytdW}}
            </div>
            <div>
              <b>Losses</b>: {{vm.user.ytdL}}
            </div>
            <div>
              <b>Win %</b>: {{vm.user.ytdPct | percentage:2}}
            </div>
          </div>
        </div>
      </stats>
    </userDiv>
  </userInfo>
  <lineChart class="col m7">
    <div zingchart id="mixed-chart" zc-json="vm.dailyData" zc-width="100%" zc-height="350px"></div>
  </lineChart>
</userHead>

<pieCharts class="row">
  <div class="col m4 .favData">
    <div zingchart id="fav-chart" zc-json="vm.favData" zc-width="100%" zc-height="350px"></div>
  </div>
  <div class="col m4">
    <div zingchart id="pick-type-chart" zc-json="vm.pickTypeData" zc-width="100%" zc-height="350px"></div>
  </div>
  <div class="col m4">
    <div zingchart id="tendency-chart" zc-json="vm.tendencyData" zc-width="100%" zc-height="350px"></div>
  </div>
</pieCharts>
