
body {
  padding-left: 5px;
  padding-right: 5px;
  background-size: cover;
  font-family: 'Raleway', sans-serif;
}

a {
  color: #01579B;
  font-weight: 600;
}

/*BEGIN NAVBAR STYLES*/

nav {
  border-radius: 10px;
  font-weight: 700;
}

.splashColor {
  background-color: #343338
}

.other-color {
  background-color: #01579B
}

.brand-logo {
  margin-left: 20px;
  color: #EEEEEE;
  margin-top: 5px
}

.logo-lead {
  margin-top: -20px;
  margin-left: 10px;
  color: #B4B4B4;
  font-size: 12px;
  font-weight: 800;
}

.weak {
  font-weight: 300;
}

.fa-bars {
  margin-left: 20px
}

/*END NAVBAR STYLES*/
/*BEGIN SPLASH STYLES*/

.parallax-container {
  height: 440px;
}

.para-div {
  height: 480px;
  background: url('../images/bet_board2.png') no-repeat center center;
  background-size: cover;
}

.splash-lead {
  color: #01579B;
  font-weight: 800;
  margin-bottom: 5px;
}

subLead {
  margin-left: 5px;
  font-size: 26px;
  color: #5E5E5E;
}

.intro-icons {
  font-size: 100px;
  color: #01579B;
}

.gameDesc {
  margin-left: 5px;
  font-weight: 400;
  font-size: 18px;
}

.homeLink {
  font-weight: 800;
  font-size: 30px;
  color: #424242;
}

.homeLink:hover {
  font-size: 40px;
  color: #01579B
}

/*END SPLASH STYLES*/
/*BEGIN LOGIN + REG STYLES*/

loginBox {
  margin-top: 140px;
  display: inline-block;
  background-color: #eeeeee;
  border: solid 3px #B4B4B4;
  border-radius: 5px;
}

error {
  padding-top: 40px;
  font-weight: 800;
  color: #B71C1C;
}

regBox {
  margin-top: 80px;
  display: inline-block;
  background-color: #eeeeee;
  border: solid 3px #B4B4B4;
  border-radius: 5px;
}

loginTitle {
  color: #01579B;
  font-size: 36px;
  font-weight: 700;
}

.forgot {
  margin-top: 25px;
  font-weight: 600;
}

loginBox i {
  padding-top: 10px
}

.image-back {
  background: url('../images/bet_board2.png') no-repeat;
  background-size: cover;
  min-height: 100%;
  min-width: 1024px;

  width: 100%;
  height: auto;

  position: fixed;
  top: 0;
  left: 0;
}

regBox i {
  padding-top: 10px
}

regLink {
  font-weight: 600;
  margin-top: 20px;
}

regLink a {
  color: #01579B
}

regBox form label {
  padding-left: -50px;
}

.wager {
  color: #9E9E9E
}

/* label focus color */
.input-field input[type=text]:focus + label {
  color: #01579B;
}
/* label underline focus color */
.input-field input[type=text]:focus {
  border-bottom: 1px solid #01579B;
  box-shadow: 0 1px 0 0 #01579B;
}

/* label focus color */
.input-field input[type=email]:focus + label {
  color: #01579B;
}
/* label underline focus color */
.input-field input[type=email]:focus {
  border-bottom: 1px solid #01579B;
  box-shadow: 0 1px 0 0 #01579B;
}

/* label focus color */
.input-field input[type=password]:focus + label {
  color: #01579B;
}
/* label underline focus color */
.input-field input[type=password]:focus {
  border-bottom: 1px solid #01579B;
  box-shadow: 0 1px 0 0 #01579B;
}

/* icon prefix focus color */
.input-field .prefix.active {
  color: #01579B;
}

/* Change Autocomplete styles in Chrome*/
.input-field input:-webkit-autofill,
.input-field input:-webkit-autofill:focus {
  border-bottom: 1px solid #01579B;
  box-shadow: 0 1px 0 0 #01579B;
  color: #01579B;
}

.with-gap {
  background-color: blue
}

.login-button {
  margin-top: 10px;
  background-color: #D4D6D6;
  color: #01579B;
  font-weight: 800;
  border-radius: 10px;
}

.login-button:hover {
  background-color: #01579B;
  color: white;
}

.login-button:focus {
  background-color: #01579B;
  color: white;
}

.push-up {
  margin-top: -20px;
}

buyInLevel span {
  margin-left: 20px;
}

.buy-in-label {
  color: #01579B;
  font-style: italic;
  font-weight: 600;
  margin-left: -30px;
}

.form-error {
  color: #B71C1C;
  font-weight: 600;
}

.bronze {
  color: #6D4C41;
}

.silver {
  color: #616161;
}

.gold {
  color: #B68708;
}

/*END LOGIN/REG STYLES*/
/*BEGIN TUTORIAL STYLES*/

tutorialHead > section {
  font-size: 18px
}

section > header {
  margin-top: 15px
}

section > div {
  margin-top: 15px;
  margin-left: 10px;
}

.mline-drop {
  padding-top: 10px
}

.base-grey {
  font-size: 80px;
  color: #ABABAB;
  padding-top: 10px;
}

.dollar-grey {
  font-size: 50px;
  color: #ABABAB;
}

.dollar-grey-drop {
  padding-top: 15px;
  font-size: 50px;
  color: #ABABAB;
}

.pie {
  font-size: 80px;
  color: #ABABAB;
  padding-top: 5px;
}

.pencil {
  font-size: 80px;
  color: #ABABAB;
}

.btb {
  font-weight: 800;
  font-size: 20px;
  color: #01579B;
}

.ps {
  font-weight: 800;
  color: #B71C1C;
}

.mline {
  font-weight: 800;
  color: #4A148C;
}

.ttl {
  font-weight: 800;
  color: #BF360C;
}

.ex-image {
  border: solid 2px #ABABAB;
}

.image-desc {
  margin-top: 50px
}

.tut-mid {
    background: url('../images/bet_board2.png') no-repeat center center;
    background-size: cover;
    height: 120px;
    margin-top: 20px;
}

.fa-calculator {
  font-size: 80px;
  color: #ABABAB;
  padding-top: 10px;
}

.reg {
  margin-top: 10px
}

/*END TUTORIAL STYLES*/
/*BEGIN MAKE PICK STYLES*/

.picks-head {
  background: url('../images/bet_board2.png') no-repeat center center;
  background-size: cover;
}

.pickHead {
  font-size: 32px;
  font-weight: 800;
  color: #01579B;
}

pickleadDiv {
  margin-bottom: -10px;
}

.login-error {
  color: #C61B1F;
}

.juice {
  font-size: 10px
}

.payout {
  font-size: 12px
}

.bet-type {
  font-weight: 800
}

picksTable {
  margin-left: 10px;
}

select:focus {
  outline: none
}

howto p {
  padding: 0px;
  margin: 0px;
}

.spread {
  color: #B71C1C;
  padding-left: 40px;
}

.spreadMoney {
  color: #B71C1C;
  font-weight: 600;
}

.ml {
  color: #311B92;
  padding-left: 10px
}

.mlMoney {
  color: #311B92;
  font-weight: 600;
}

.total {
  color: #BF360C;
  padding-left: 40px;
}

.totalMoney {
  color: #BF360C;
  font-weight: 600;
}

.push-r {
  margin-left: 20px
}

button:focus {
  background-color: #4CAF50
}

.howTo {
  font-weight: 700;
  font-size: 18px;
  margin-top: -15px;
}

.howToBott {
  margin-bottom: 15px;
}

.btn-spread {
  background-color: #B71C1C;
  border-radius: 5%;
}

.btn-spread:hover {
  background-color: #e53935;
}

.btn-ml {
  background-color: #311b92;
  border-radius: 5%;
}

.btn-ml:hover {
  background-color: #5e35b1;
}

.btn-total {
  background-color: #bf360c;
  border-radius: 5%
}

.btn-total:hover {
  background-color: #f4511e;
}

submitPick p {
  font-size: 10px;
}

.submitted {
  font-weight: 600;
  color: #1b5e20;
}

pickLocked {
  color: red;
  font-weight: 800;
}

/*END MAKE PICK STYLES*/
/*BEGIN RESULTS STYLES*/

chasing-dots-spinner {
  position: absolute;
  left: 50%;
  top: 40%;
}

.pickWin {
  color: green;
  font-weight: 600;
  font-size: 12px;
}

.pickLoss {
  color: red;
  font-weight: 600;
  font-size: 12px;
}

.pickPush {
  font-weight: 600;
  font-size: 12px;
}

.nobr  {
  white-space:nowrap;
}

leadDiv {
  margin-top: 20px;
  margin-bottom: -10px;
}

.resHead {
  font-size: 32px;
  font-weight: 800;
  margin-top: 30px;
  color: #01579B;
}

.result-head {
  background: url('../images/bet_board2.png') no-repeat center center;
  background-size: cover;
  margin-top: 0px;
  height: 120px;
}

.res-select {
  margin-top: 20px;
}

/*END RESULT STYLES*/
/*BEGIN STANDINGS STYLES*/

standings th, standings td {
  padding: 0px;
  text-align: center;
}

.ytd-header {
  font-size: 22px;
  color: #01579B;
}

.day-header {
  font-size: 18px;
  color: #ABABAB;
  font-style: italic;
  font-weight: 600
}

.buyGold {
  color: #B68708;
  font-weight: 800;
  font-size: 16px;
}

.buySilver {
  color: #616161;
  font-weight: 800;
  font-size: 16px;
}

.buyBronze {
  color: #6D4C41;
  font-weight: 800;
  font-size: 16px;
}

.dayWin {
  color: #1B5E20
}

.dayLoss {
  color: #B71C1C
}

.user-size {
  font-size: 20px
}

.user-size a:hover {
  color: #424242
}

.sum-total {
  font-size: 18px;
  font-weight: 700
}

.pushdown {
  padding-top: 20px;
  border-bottom: solid 1px black
}

.bord-right {
  border-right: solid 1px black
}

.bord-bottom {
  border-bottom: solid 1px black
}

.ytdwBox {
  width: 40px;
}

.wBox {
  width: 25px;
}

.dollBox {
  width: 70px;
}

.active {
  color: white;
}

.nopad {
  padding: 0px;
}

standDiv {
  margin-top: 20px;
}

pagination {
  margin-top: 50px;
}

standings table {
  margin-top: 20px
}

notice {
  margin-top: 40px;
}

/*END STANDINGS STYLES*/
/*BEGIN USER STYLES*/

userInfo, linechart {
  margin-top: 20px;
}

userHead {
  height: 200px;
}

userDiv {
  margin-top: 20px
}

.username {
  font-size: 48px;
  font-weight: 800;
  color: #01579B;
}

.realname {
  margin-top: -10px;
  padding-top: -10px;
  margin-bottom: 20px;
}

.user-baseball {
  font-size: 100px;
  color: #01579B;
  margin-left: -30px;
}

.user-chart {
  color: #5E5E5E;
  padding-top: 30px;
  margin-left: -30px;
}

gameBox {
  border: solid 3px #CCCDCD;
  border-radius: 5px;
}

gameTitle {
  color: #5E5E5E;
  font-size: 28px;
  font-weight: 800
}

profits {
  font-size: 16px
}

/*END USER STYLES*/
/*BEGIN PRIZE STYLES*/

prizeIntro div {
  margin-top: 2%;
}

.prize-row td {
  padding-top: 10px;
  padding-bottom: 0;
}

.prize-header {
  font-size: 28px;
  font-weight: 700;
  color: #616161;
  margin-top: 10px;
  text-decoration: underline;
}
